<i><h1>ALL TRANSACTIONS</h1></i>
<body>
  <nav>
    <br>
    <br>
    <form action="/transaction/new"><input type="submit" value="Create Transaction"></form>
  </nav>
  <br>


  <table>
    <tr>
      <% total = 0 %>
      <% for transaction in @transaction %>



      <td><p class="table-text">id: <%=transaction.id()%></p></td>
      <td><p class="table-text">Merchant: <%= transaction.merchant.merchant_name() %> </p></td>
      <td><p class="table-text">Tag: <%= transaction.tag.tag_name() %></p></td>
      <td><u><p class="table-text">Total: £<%= transaction.value() %></p></u></td>
      <td><p class="table-text">Date: <%= transaction.day() %></p></td>
      <% total += transaction.value() %>
      <td><form  class="transaction-delete" method="post" action="/transaction/<%= transaction.id %>/delete"><input type="submit" value="Delete Transaction"></form></td>
    </tr>
    <% end %>
  </table>


  <div class="budget">
    <p class="response"><label for="value">Total Amount Spent: £<%=total%> </label></p>
    <p class="response"><label for="budget">Budget: £<%=transaction.budget - total %></label></p>
  </div>

</body>
